<section class="py-24 relative bg-ocean-dark" id="about">
  <div
    class="absolute top-0 right-0 w-1/3 h-full bg-linear-to-l from-primary/5 to-transparent pointer-events-none"
  >
  </div>
  <div class="mx-auto max-w-7xl px-6 relative z-10">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-16 lg:gap-24">
      <div>
        <h2 class="font-serif text-white text-4xl md:text-5xl font-bold mb-8">
          Navigating the <br /><span
            class="text-primary italic drop-shadow-[0_0_10px_rgba(204,204,254,0.4)]"
            >Digital Depths</span
          >
        </h2>
        <div
          class="space-y-6 text-slate-400 text-lg leading-relaxed font-light"
        >
          <p>
            I am a passionate developer who finds clarity in code. My approach
            to frontend development is inspired by the ocean: vast, deep, and
            constantly in motion. I strive to build interfaces that feel organic
            and intuitive.
          </p>
          <p>
            With a solid foundation in computer science and a keen eye for
            aesthetics, I focus on creating interfaces that aren't just
            functional, but offer a sense of calm and professional reliability.
          </p>
        </div>
        <div class="mt-12">
          <h3 class="text-white text-lg font-bold mb-6 flex items-center gap-2">
            <span class="w-8 h-px bg-primary shadow-[0_0_8px_#CCCCFE]"></span> Tech
            Stack
          </h3>
          <div class="flex flex-wrap gap-3">
            <span
              class="px-5 py-2.5 rounded-lg bg-ocean-card border border-primary/40 text-slate-200 text-sm hover:border-primary hover:shadow-[0_0_15px_rgba(204,204,254,0.3)] transition-all cursor-default font-medium flex items-center gap-1"
            >
              <span class="material-symbols-outlined text-xs ml-1">
                rocket_launch
              </span>
              Astro
            </span>
            <span
              class="px-5 py-2.5 rounded-lg bg-ocean-card border border-primary/40 text-slate-200 text-sm hover:border-primary hover:shadow-[0_0_15px_rgba(204,204,254,0.3)] transition-all cursor-default font-medium flex items-center gap-1"
            >
              <span class="material-symbols-outlined text-xs ml-1"> css </span>
              Tailwind CSS
            </span>
            <span
              class="px-5 py-2.5 rounded-lg bg-ocean-card border border-primary/40 text-slate-200 text-sm hover:border-primary hover:shadow-[0_0_15px_rgba(204,204,254,0.3)] transition-all cursor-default font-medium flex items-center gap-1"
            >
              <span class="material-symbols-outlined text-xs ml-1"> code </span>
              TypeScript</span
            >
            <span
              class="px-5 py-2.5 rounded-lg bg-ocean-card border border-primary/40 text-slate-200 text-sm hover:border-primary hover:shadow-[0_0_15px_rgba(204,204,254,0.3)] transition-all cursor-default font-medium flex items-center gap-1"
            >
              <span class="material-symbols-outlined text-xs ml-1">
                javascript
              </span>
              JavaScript</span
            >
            <span
              class="px-5 py-2.5 rounded-lg bg-ocean-card border border-primary/40 text-slate-200 text-sm hover:border-primary hover:shadow-[0_0_15px_rgba(204,204,254,0.3)] transition-all cursor-default font-medium flex items-center gap-1"
            >
              <span class="material-symbols-outlined text-xs ml-1">
                dashboard
              </span>
              React</span
            >
            <span
              class="px-5 py-2.5 rounded-lg bg-ocean-card border border-primary/40 text-slate-200 text-sm hover:border-primary hover:shadow-[0_0_15px_rgba(204,204,254,0.3)] transition-all cursor-default font-medium flex items-center gap-1"
            >
              <span class="material-symbols-outlined text-xs ml-1">
                storage
              </span>
              Git &amp; Github</span
            >
          </div>
        </div>
      </div>
      <div
        class="bg-ocean-card/50 rounded-3xl p-8 lg:p-10 border border-white/5 backdrop-blur-sm shadow-[0_0_40px_rgba(0,0,0,0.3)]"
      >
        <h3
          class="text-primary text-2xl font-bold mb-10 flex items-center gap-3"
        >
          <span
            class="material-symbols-outlined text-primary bg-primary/10 p-2 rounded-lg shadow-[0_0_10px_rgba(204,204,254,0.2)]"
            >history_edu</span
          >
          Professional Milestones
        </h3>
        <div class="relative pl-2">
          <!-- <div class="absolute left-4.75 top-2 bottom-4 w-0.5 bg-white/10">
            </div> -->
          <div class="relative grid grid-cols-[40px_1fr] gap-x-6 mb-12 group">
            <div
              class="relative z-10 w-10 h-10 rounded-full bg-ocean-dark border border-primary/40 flex items-center justify-center text-primary group-hover:bg-primary group-hover:text-ocean-dark group-hover:shadow-[0_0_15px_rgba(204,204,254,0.5)] transition-all shadow-lg shadow-black/20 after:content-[''] after:h-22 after:w-0.5 after:bg-primary/70 after:absolute after:top-10 after:left-1/2 after:-translate-x-1/2"
            >
              <span class="material-symbols-outlined text-lg">code</span>
            </div>
            <div>
              <span
                class="inline-block px-2 py-0.5 rounded text-xs font-bold bg-white/5 text-primary mb-2 shadow-[0_0_5px_rgba(204,204,254,0.1)]"
                >Present</span
              >
              <h4 class="text-white text-lg font-bold">
                Scalable Web Development
              </h4>
              <p class="text-primary-dim text-sm font-medium">
                Freelance Project for Quinoa Enterprise
              </p>
              <p class="text-slate-400 text-sm mt-2 leading-relaxed">
                Architecting a scalable component library and migrating legacy
                systems to Astro.
              </p>
            </div>
          </div>
          <div class="relative grid grid-cols-[40px_1fr] gap-x-6 mb-12 group">
            <div
              class="relative z-10 w-10 h-10 rounded-full bg-ocean-dark border border-primary/40 flex items-center justify-center text-primary group-hover:bg-primary group-hover:text-ocean-dark group-hover:shadow-[0_0_15px_rgba(204,204,254,0.5)] transition-all shadow-lg shadow-black/20 after:content-[''] after:h-22 after:w-0.5 after:bg-primary/70 after:absolute after:top-10 after:left-1/2 after:-translate-x-1/2"
            >
              <span class="material-symbols-outlined text-lg">laptop_mac</span>
            </div>
            <div>
              <span
                class="inline-block px-2 py-0.5 rounded text-xs font-bold bg-white/5 text-primary mb-2 shadow-[0_0_5px_rgba(204,204,254,0.1)]"
                >2023</span
              >
              <h4 class="text-white text-lg font-bold">
                Independent Study &amp; Freelance Foundation
              </h4>
              <p class="text-slate-400 text-sm mt-2 leading-relaxed">
                Deep dive into modern frontend frameworks, performance
                optimization, and initial client engagements.
              </p>
            </div>
          </div>
          <div class="relative grid grid-cols-[40px_1fr] gap-x-6 group">
            <div
              class="relative z-10 w-10 h-10 rounded-full bg-ocean-dark border-2 border-primary/40 flex items-center justify-center text-primary group-hover:bg-primary group-hover:text-ocean-dark group-hover:shadow-[0_0_15px_rgba(204,204,254,0.5)] transition-all shadow-lg shadow-black/20 after:content-[''] after:h-22 after:w-0.5 after:bg-primary/70 after:absolute after:top-9.5 after:left-1/2"
            >
              <span class="material-symbols-outlined text-lg">school</span>
            </div>
            <div>
              <span
                class="inline-block px-2 py-0.5 rounded text-xs font-bold bg-white/5 text-primary mb-2 shadow-[0_0_5px_rgba(204,204,254,0.1)]"
                >2022</span
              >
              <h4 class="text-white text-lg font-bold">
                Computer Science Fundamentals
              </h4>
              <p class="text-primary-dim text-sm font-medium">Institute</p>
              <p class="text-slate-400 text-sm mt-2 leading-relaxed">
                Rigorous coursework in algorithms, data structures, and software
                engineering principles.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
